[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan/rocket-chip.git
[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan/difftest.git
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/Siudya/ready-to-run
[submodule "huancun"]
	path = huancun
	url = https://github.com/Siudya/Huancun
[submodule "fudian"]
	path = fudian
	url = https://github.com/Siudya/fudian
[submodule "xs-utils"]
	path = xs-utils
	url = https://github.com/Siudya/xs-utils
[submodule "utility"]
	path = utility
	url = https://github.com/OpenXiangShan/utility
[submodule "CoupledL2"]
	path = CoupledL2
	url = https://github.com/cyril0124/CoupledL2
	branch = integrate_cpl2_cpl3
