[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/Siudya/rocket-chip
	branch = master
[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan/difftest
	branch = nh3
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/Siudya/ready-to-run
[submodule "huancun"]
	path = huancun
	url = https://github.com/Siudya/huancun
	branch = chisel5
[submodule "fudian"]
	path = fudian
	url = https://github.com/Siudya/fudian
	branch = chisel5
[submodule "xs-utils"]
	path = xs-utils
	url = https://github.com/Siudya/xs-utils
	branch = chisel5
[submodule "coupledL2"]
	path = coupledL2
	url = https://github.com/cyril0124/CoupledL2
	branch = chisel5
[submodule "src/main/resources/TLROT"]
	path = src/main/resources/TLROT
	url = https://github.com/PENGLAI-ZGC-TEE/TLROT.git
